# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db
AI-Finance-Advisor/
